<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
	<script src="../js/jquery-1.9.1.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/uva.css">
	<meta http-equiv="X-UA-Compatible" content="IE=11,Edge" />
	<title>Universidad de Valladolid - SSO</title>
	<style>
	body {
		background-image: url(../img/default.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
	}
	</style>
<script>
$(document).ready(function() {
	window.setInterval(function(){
			cambiafondo();
		}, 40000);
});

function cambiafondo() {
	num = Math.floor((Math.random()*5)+1);
	$("body").css(
			{
			"background-image": "url(./img/"+num+".jpg)",
			"-webkit-background-size": "cover",
			"-moz-background-size": "cover",
			"-o-background-size": "cover",
			"background-size": "cover",
			"background-repeat": "no-repeat",
			"background-attachment": "fixed",
			"background-position": "center center"
			});
}
</script>
</head>
<body>
	<div class="navbar navbar-fixed-top" style="background-color:rgba(255,255,255,0.7);">
		<div class="container">
			<div class="hidden-xs hidden-sm col-md-8">
				<h2 style="text-shadow: #000 0 0 1px;">Acceso al Portal de Servicios</h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<img src="../img/Ornamental_II_Rojo.png" class="img-responsive text-center" alt="Universidad de Valladolid" style="margin-top:8px;align:center;"/>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row vertical-center-row" >
			<div class="col-md-12">
				<h3 class="text-center"><span>Autentificaci&oacute;n de usuarios UVa</span></h3>
				<#if sso_user?? && sso_agent?? && sso_return?? && sso_id??>
				<p class="text-center texto_azul"><span class="fondo_blanco">Confirme el cierre de sesi&oacute;n: <strong>${sso_user}</strong></span></p>
				<div class="row">
	                <div class="col-xs-4 col-xs-offset-4" style="text-align: center;">
				        <form class="entrada_usuarios" action="logout.action" method="post">
				        	<input type="hidden" name="sso_agent" value="${sso_agent}" />
	                        <input type="hidden" name="sso_return" value="${sso_return}" />
	                        <input type="hidden" name="sso_user" value="${sso_user}" />
	                        <input type="hidden" name="sso_id" value="${sso_id}" />
							<p><input type="submit" value="Salir"></p>
						</form>
	                </div>
	            </div>
	            <#else>
					<p class="text-center texto_azul"><span class="fondo_blanco">Error desconocido</span></p>
				</#if>
			</div>
		</div>
	</div>
	<div class="ayuda">
		<a href="http://www.uva.es"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <a href="http://stic.uva.es/export/sites/stic/01.miidentidad/1.1.directoriocorporativo/index.html" target="_blank"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda</a> <a href="mailto:soporte@uva.es?subject=Problemas%20con%20la%20entrada%20en%20el%20SSO%20UVa"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> soporte@uva.es</a>
	</div>
</body>
</html>